<!---------METHOD2---------->

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8" />

</head>

<body style="background-color:#fcd3ed;">
<div align="center">

	<h1> <u>Predict the Iris Species</u> </h1>
	<h3> Please put values for each </h3>
	<h3> All values should be in range from 0 to 7 </h3>
	<form action = "" method = "POST">
		<p>SepalLengthCm <input name = "feature1" type = "number /"></p>
		<p>SepalWidthCm <input name = "feature2" type = "number /"></p>
		<p>PetalLengthCm <input name = "feature3" type = "number /"></p>
		<p>PetalWidthCm <input name = "feature4" type = "number /"></p>
		<p><input type = "submit" value = "submit" /></p>
	</form>

</div>
</body>

</html>